<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!--日志输出级别:#ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF-->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>