<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxufe.dao.LeaveMsgMapper">
  <resultMap id="BaseResultMap" type="com.jxufe.entity.LeaveMsg">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="leave_id" jdbcType="INTEGER" property="leaveId" />
    <result column="leave_content" jdbcType="VARCHAR" property="leaveContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <insert id="insert" parameterType="com.jxufe.entity.LeaveMsg">
    insert into leavemsg (user_id, leave_id, leave_content, 
      create_time, modify_time)
    values (#{userId,jdbcType=INTEGER}, #{leaveId,jdbcType=INTEGER}, #{leaveContent,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jxufe.entity.LeaveMsg">
    insert into leavemsg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="leaveId != null">
        leave_id,
      </if>
      <if test="leaveContent != null">
        leave_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="leaveId != null">
        #{leaveId,jdbcType=INTEGER},
      </if>
      <if test="leaveContent != null">
        #{leaveContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>