<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxufe.dao.SayTypeMapper">
  <resultMap id="BaseResultMap" type="com.jxufe.entity.SayType">
    <id column="say_id" jdbcType="INTEGER" property="sayId" />
    <id column="type_id" jdbcType="INTEGER" property="typeId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from say_type
    where say_id = #{sayId,jdbcType=INTEGER}
      and type_id = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxufe.entity.SayType">
    insert into say_type (say_id, type_id)
    values (#{sayId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jxufe.entity.SayType">
    insert into say_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sayId != null">
        say_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sayId != null">
        #{sayId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>