<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--1.配置web Control扫描器-->
    <context:component-scan base-package="com.jxufe.control"></context:component-scan>
    <!--2.配置试图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--3.配置注解启动器-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--4.配置静态资源访问-->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--其他配置:拦截器，文件上传等-->
    <!-- <mvc:interceptors>
         <mvc:interceptor>
             <mvc:mapping path="/seckill/**"></mvc:mapping>
             <mvc:exclude-mapping path="/"></mvc:exclude-mapping>
             <bean class="com.ylz.interceptor.NoSuchURLInterceptor"></bean>
         </mvc:interceptor>
     </mvc:interceptors>-->
</beans>