.personalfont{
	font-size: 14px;
    line-height: 24px;
    color: #e99393;
    font-family: "PingFang SC", 微软雅黑, "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}

.formDiv{
	margin-top: 15px;
}

